<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CFBundleName</key><string>resonantrendererd40c</string>
<key>CFBundleVersion</key><string>1.0.0</string>
<key>CFBundleIdentifier</key><string>com.mejustmeb.resonantrendererd40c</string>
<key>CFBundleExecutable</key><string>resonantrendererd40c</string>
</dict></plist>
